:root {
	--peg-size: 40px;
	--slot-size: 35px;
}

body, body * {
	box-sizing: border-box;
}
body {
	background: #eaeaea;
	}

.game {
	width: 500px;
	margin: 0 auto;
	padding: 50px;
}

.controls-row {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 width: 100%;
	 padding: 0 0 50px 0;

}
.control {
	 border-radius: 50%;;
	 width: var(--peg-size);
	 height: var(--peg-size);
}

.game-board {
	min-height: 400px;
}

.guess-row {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px;
}

.guess-slot {
	background: #888;
	border-radius: 50%;
	height: var(--slot-size);
	display: block;
	width: var(--slot-size);
	transition: all .2s linear;
}

.guess-slot.ready {
	background: #444;
	border: 2px solid #444;

}

.guess-slot.complete {
	opacity: 0.8;
}

.guess-slot.hovered {
	border: 1px solid white;
	transform: scale(1.25);
}
